* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 62.5%;
}

body {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

a {
  text-decoration: none;
  display: inline;
  color: #333;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.6rem;
}

header .header-icons-container {
  width: 100%;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  /* justify-items: flex-end; */
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  /* display: none; */
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  display: flex;
  align-items: center;
  margin-top: 3.2px;
}

nav .nav-logo-container img {
  width: 180px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  font-weight: 600;
}

nav .profile-link a {
  color: #333;
  border-bottom: 1px solid #333;
}


.main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home img {
  position: absolute;
}

.home .home-title-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  top: 80px;
  padding: 25px;
  text-align: center;
}

.home-title-container p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.home-title-container button {
  width: 110px;
  height: 45px;
  border: 1px solid rgb(230, 217, 217);
  background-color: #47cfac;
  color: #333;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (min-width: 700px) {
  .home .home-title-container p {
    font-size: 2.8rem;
    margin-bottom: 80px;
  }

  .home .home-title-container button {
    width: 120px;
  height: 50px;
  font-size: 1.65rem;
  }
}
@media screen and (min-width: 1024px) {
  .home .home-title-container p {
    font-size: 3.5rem;
  }
}