* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto Mono", monospace;
  font-size: 62.5%;
}

/* Global class added to blog posts containers to limit its max width */
.grid-container {
  max-width: 980px;
  margin: auto;
}

a {
  text-decoration: none;
  display: inline;
  color: #333;
}

.home-body{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

header {
  width: 100%;
  height: 140px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  font-size: 1.6rem;
}

header .header-icons-container {
  width: 100%;
  min-width: 320px;
  height: 50px;
  display: grid;
  background-color: #47cfac;
}

header .header-icons-container .icons {
  width: 300px;
  height: auto;
  display: flex;
  /* justify-items: flex-end; */
  align-items: center;
  justify-content: space-between;
  justify-self: end;
  margin-right: 50px;
}

header .icons span {
  /* display: none; */
  color: white;
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 90px;
}

nav .nav-logo-container {
  display: flex;
  align-items: center;
  margin-top: 3.2px;
}

nav .nav-logo-container img {
  width: 180px;
}

nav .profile-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  font-weight: 600;
}

nav .profile-link a {
  color: #333;
  border-bottom: 1px solid #333;
}


.home-main-container {
  width: 100vw;
  height: 100vh;
  background-image: url('/assets/img/Cover.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home img {
  position: absolute;
}

.home .home-title-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  max-width: 900px;
  margin: 0 auto;
  top: 80px;
  padding: 25px;
  text-align: center;
}

.home-title-container p {
  color: white;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 30px;
  letter-spacing: 5px;
}

.home-title-container button {
  width: 110px;
  height: 45px;
  border: 1px solid rgb(230, 217, 217);
  background-color: #47cfac;
  color: #333;
  font-family: 'Roboto Mono';
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

@media screen and (min-width: 700px) {
  .home .home-title-container p {
    font-size: 2.8rem;
    margin-bottom: 80px;
  }

  .home .home-title-container button {
    width: 120px;
  height: 50px;
  font-size: 1.65rem;
  }
}
@media screen and (min-width: 1024px) {
  .home .home-title-container p {
    font-size: 3.5rem;
  }
}

.blogs-main {
  display: grid;
  color: #333;
}

.blogs-news-container {
  width: 100%;
  min-width: 320px;
  background-color: #e6e9ed;
  padding: 0 50px 40px;
}

.blogs-main-new {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr;
}

.blogs-main-new h3 {
  font-size: 1.8rem;
  margin: 10px 0;
}

.blogs-news-img-container {
  grid-column: 1;
}

.blogs-news-img-container img {
  width: 85%;
}

.blogs-news-info-container {
  grid-column: 2;
}

.blogs-news-info-container h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.blogs-news-info-container p {
  margin-bottom: 35px;
  font-size: 1.5rem;
  font-weight: 400;
}

.blogs-posts-container {
  padding: 0 50px 40px;
}

.blogs-posts-container span {
  display: block;
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 1px solid #cdd2da;
}

.blogs-button {
  border: 1px solid #47cfac;
  padding: 10px 15px;
  font-size: 1.2rem;
  font-weight: 600;
}

.blogs-posts-container div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.blogs-posts-container .blog-posts-title {
  font-size: 1.8rem;
  color: #333;
}

.blogs-posts-container .blog-posts-title h3 {
  margin-top: 20px;
}

.post-container {
  margin-top: 20px;
  /* margin-bottom: 20px; */
  font-size: 1.5rem;
  font-weight: 400;
}

.blogs-posts-container .post-container {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  max-width: 30%;
  margin-bottom: 50px;
}

.blogs-posts-container .post-container p {
  margin-bottom: 35px;
}

.blogs-posts-container .post-container img {
  width: 100%;
}

footer {
  width: 100%;
  height: 80px;
  background-color: #333;
  border-top: 30px solid #47cfac;
  text-align: center;
}

footer p {
  font-size: 1.3rem;
  color: white;
  margin-top: 15px;
}

.blogpost-img-container {
  padding: 0 50px 40px;
}

.blogpost-img-container img {
  width: 100%;
}

.blogpost-main-container {
  padding: 0 50px 40px;
  color: #333;
}

.blogpost-main-container h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 20px;
  font-size: 1.8rem;
}

.blogpost-main-container h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 3rem;
}

.blogpost-main-container p {
  font-size: 1.5rem;
}

.contact-main-container {
  width: 100%;
  min-height: 250px;
  padding-bottom: 50px;
  background-color: #e6e9ed;
  font-size: 1.5rem;
  color: #333;
  text-align: center;
}

.contact-main-container div {
  display: inline-block;
  width: 49.5%;
  height: 100%;
}

.contact-main-container div a {
  border-bottom: 1px solid #333;
  /* padding-bottom: 5px; */
}

.contact-main-container .contact-left, .contact-right {
  text-align: center;
  margin-top: 85px;
}

.contact-main-container img {
  width: 100px;
}

.profile-main-container {
  padding: 70px 40px;
  background-color: #e6e9ed;
  margin-bottom: 50px;
  font-size: 1.5rem;
  color: #333;
}

.profile-description-container{
  padding: 15px 30px;
}

.profile-main-container img {
  width: 100%;
  margin-right: 30px;
}

.profile-main-container .profile-container {
  display: flex;
}

.profile-main-projects {
  padding: 0 50px 40px;
}

.profile-main-projects h3 {
  border-bottom: 1px solid #cdd2da;
  padding-bottom: 35px;
  text-align: center;
  font-size: 2rem;
  color: #333;
}

.projects-main-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  font-size: 1.5rem;
  color: #333;
}

.projects-main-container .project-container {
  margin: 30px 5px;
}

